
.bg-primary {
  background-color: #73877B !important;
}

.resume-section-content h1 span {
  color: #73877B !important;
}

.subheading a {
  color: #73877B !important;
}

.subheading a:hover {
  color: gray !important;
  text-decoration: none !important;
}

.carousel-item-size {
height: 20% !important;
width: 50% !important;

}

.btn-primary {
  background-color: #73877B !important;
  border: #73877B !important;
  color: #fff !important;
}

.btn-text {
  color: #fff !important;
}

.music-url{
  padding: 0 !important;
}

.playlist-pm {
  padding-top: 20px;
  padding-bottom: 10px;
}
.cover-pm {
  padding: 0 !important;
  margin: 0 !important;
  width: 110px !important;
}

.music-text{
  padding: 0 !important;
  margin: 0 !important;
}


.game-size {
  width: 90%;
}

.figure {
  position: relative !important;
  overflow: visible !important;
}


.figure::after {
  background-color: #73877B;
  content: "";
  height: 90%;
  width: 90%;
  position: absolute !important;
  bottom: 8%;
  right: 8%;

  border-radius: 0.375rem;
  z-index: -1;
}
.animehw {
  height: 600px;
}